pymongo==4.6.1
python-dotenv==1.0.1
requests==2.31.0
fastapi==0.110.0
uvicorn==0.27.1
dnspython>=2.0.0
argon2-cffi==23.1.0
pydantic>=2.0
web3>=6.0.0
pydantic-settings>=2.0.0
openai>=1.0.0
httpx>=0.24.0



